[submodule "meta-raspberrypi"]
	path = meta-raspberrypi
	url = git@github.com:agherzan/meta-raspberrypi.git
[submodule "meta-mender"]
	path = meta-mender
	url = git@github.com:mendersoftware/meta-mender.git
[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git@github.com:colin-pm/meta-openembedded.git
